<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.libienz.se_2022_closet">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SE_2022_Closet"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".startApp_1.clothes.searchOutfitActivity"
            android:exported="false" />
        <activity
            android:name=".startApp_1.ootd.BoardEditActivity"
            android:exported="false" />
        <activity
            android:name=".startApp_1.ootd.BoardAddActivity"
            android:exported="false" />
        <activity
            android:name=".startApp_1.ootd.BoardActivity"
            android:exported="false" />
        <activity
            android:name=".startApp_1.ootd.OOTDActivity"
            android:exported="false" />
        <activity
            android:name=".startApp_1.userauth.FindPwActivity"
            android:exported="false" />
        <activity
            android:name=".startApp_1.userauth.FindEmailActivity"
            android:exported="false" />
        <activity
            android:name=".startApp_1.userauth.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".startApp_1.userauth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startApp_1.userauth.MainActivity"
            android:exported="true" />
        <activity
            android:name=".startApp_1.userauth.LoginActiyity"
            android:exported="false" />
        <activity android:name=".startApp_1.userauth.InitialSettingActivity"
            android:exported="false"/>
        <activity android:name=".startApp_1.clothes.editHashTagActivity"
            android:exported="false"/>
        <activity android:name=".startApp_1.favorites.favoritesActivity"
            android:exported="false"/>
        <activity android:name=".startApp_1.clothes.showDetailsActivity"
            android:exported="false"/>

    </application>

</manifest>